.contactForm {
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 80%;
    padding: 10px;
  }
  
  
  
  .contactFormButtonDiv {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contactFormSubmit {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    
  }
  .contactFormClose {
    padding: 8px 20px;
    background-color: #af4c4c;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
  }
  
  .messageTextArea {
   display: flex;
   justify-content: center;
   min-width: 50%;
  }



 