.contactForm {
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 80%;
    padding: 10px;
  }
    
  .contactFormButtonDiv {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contactFormSubmit {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    
  }
  .contactFormClose {
    padding: 8px 20px;
    background-color: #af4c4c;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
  }
  
  .messageTextArea {
   display: flex;
   justify-content: center;
   min-width: 50%;
  }

  .formField {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .formField label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .formInput,
  .formTextArea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .formTextArea {
    resize: vertical;
  }
  
  .contactFormButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @media only screen and (max-width:600px) {
  .contactForm {
    align-items: center;
  }
}