/* tabs */

.Tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    font-family: var(--font-della-respira);
    overflow-y: auto;
    height: 100vh;
    background-color: black;
    color: #E8F0F2;
    font-size: large;
    font-weight: bold;
    position: relative;
    @media (max-width: 769px) {
      padding: 2rem 0;
    }
  }

  ul.nav {
    width: 60%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #39A2DB;
    border-radius: 2rem;
    padding-left: 0px;
    @media (max-width: 768px) {
      width: 90%;
    }
  }
  
   
  ul.nav li {
    width: 50%;
    padding: 0.5rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
  }
   
  ul.nav li:first-child {
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
  }
   
  ul.nav li:last-child {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }
   
  ul.nav li:hover {
    background: rgba(50, 224, 196, 0.15);
  }
   
  ul.nav li.active {
    background: #39A2DB;
  }
   
  .WhoTabContent {
    font-size: 2rem;
    text-align: center;
  }
  
  @media (prefers-color-scheme: dark) {
    .page {
      --gray-rgb: 255, 255, 255;
      --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
      --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  
      --button-primary-hover: #ccc;
      --button-secondary-hover: #1a1a1a;
    }
  }

.drWhoDndContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: white;
    font-size: medium;
}

.lightHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px solid plum;
    border-radius: 5px;
    z-index: 0;
    top: 0;
}
.dndHeader{
    z-index: 1;
    font-size: xx-large;
    width: 50%;
    text-align: center;
}
.Light, .Seven {
    border-radius: 50%;
    border: solid 2px darkblue;
}

.lightSubtitle {
    text-align: center;
    margin: 5px;
    padding: 0 15px;
    font-size: medium;
}

.dropdownMenus {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.filters {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.difficulty {
    display: flex;
    flex-direction: row;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.dndBtn, .customSelect {
    margin: 5px;
    padding: 5px;
    min-width: 85px;
}

.difficultySelect, .dndBtn, .customSelect {
    border-color: #008000;
    background-color: #000080;
    color: white;
}

.dndContextUl {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.storyInfo {
    display: flex;
    align-items: center; 
    touch-action: none;
    border: solid royalblue 3px;
    border-radius: 5px;
    background-color: purple;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    width: 50%;
    text-align: center;
}

.dndButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.resetBtn, .checkScoreBtn, .clearBtn {
    padding: 5px;
    margin: 5px;
    border: solid darkgray 2px;
    border-radius: 5px;
    color: white;
}

.checkScoreBtn {
    background-color: green;
}

.resetBtn {
    background-color: rgb(255, 51, 0);
}

.clearBtn {
    background-color: sienna;
}

.blueBoxLogo {
  -webkit-animation: fadeoutin 2s 2 linear forwards;
  animation: fadeoutin 2s 2 linear forwards;
}

@-webkit-keyframes fadeoutin {
  0%,100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes fadeoutin {
  0%,100% { opacity: 1; }
  50% { opacity: 0; }
}

@media only screen and (max-width: 450px) {
    .dndHeader {
        font-size: x-large;
    }
    .lightSubtitle, .difficultWord {
        font-size: smaller;
    }
    .customSelect {
        font-size: 10px;
        width: auto;
    }
} 