.homeFooter {
  background-color: black;
  width: 100%;
  border-radius: 10px;
  padding-top: 40px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 300px;
  left: 0;
  bottom: 0;
  position: static;
}

.showHideBtn {
  margin: 5px;
  padding: 5px;
  min-width: 85px;
  max-width: 100px;
  border-color: #008000;
  background-color: #000080;
}

.rowOfNavColumns {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.appsClms,
.blogClm,
.homeClm {
  display: flex;
  flex-direction: column;
  padding-left: 2px;
  height: 100%;
  border-left: 1px solid skyblue;
  font-weight: bold;
}

.appsClms,
.appsClmLinks1,
.appsClmLinks2 {
  width: 50%;
}

.blogClm,
.homeClm {
  justify-content: space-between;
  width: 25%;
}

.appsClms > a,
.blogClm > a,
.homeClm > a {
  font-size: 16px;
}

.homeClmLinks,
.appsClmLinks1,
.appsClmLinks2 {
  list-style-position: inside;
  color: skyblue;
  text-decoration: underline;
}

.appsClmLinks1 > li,
.appsClmLinks2 > li,
.homeClmLinks > li,
.blogClmLinks > li {
  font-size: 12px;
  padding: 5px;
  display: flex;
}

.homeClmLinks > li {
  cursor: pointer;
}

.appClmRow {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 577px) {
  .appsClmLinks > li,
  .homeClmLinks > li {
    font-size: 10px;
  }
}
