
.Heading{
  width: auto;
  height: auto;
  font-size: 50px;
  }
  
.fancy {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: 
      url("https://www.publicdomainpictures.net/pictures/480000/nahled/sternenhimmel-sterne-himmel-nacht-1668774086Mem.jpg");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
	animation: parallax 60s ease infinite alternate;
  }
}
@keyframes parallax {
	0% {
	  background-position: 0 0;
	}
	70% {
	  background-position: 80 200px;
	}
  }

.headerSection{
  color: #E8F0F2;
  font-size: large;
  font-weight: bold;
  text-align: center;
}
  
.links{
  justify-content: center;
  margin-left: 15px;
  justify-content: space-around;
}

.headerSection > nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.contactFormHeaderButton {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.AboutMe {
  margin: 10px;
}

.loading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading > h1 {
  text-align: center;
}

.fill {
  background-image: url("/images/fill_up.gif");
  background-size: 110% auto;
  background-position: center;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  color: transparent;
}

  
@media only screen and (max-width: 650px) {
  .Heading{
    font-size: 35px;
    }
  }

  @media only screen and (max-width: 500px) {
   
  .Heading{
    width: auto;
    height: auto;
    align-items: center;
    font-size: 25px;
    padding: 5px;
    }
  }