.randomiser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  background-color: #b1b7b0;
  overflow-y: auto;
}

.bg {
  display: none;
  width: 0px;
  height: 0px;
}

/* story */

.scanner {
  position: absolute;
  top: 10%;
  height: 45%;
  width: 95%;
  background-color: rgb(121, 75, 28);
  z-index: 2;
  font-family: var(--font-teletext);
  color: white;
  line-height: 2.5;
  padding: 5px;
  text-wrap: balance;
}

.storyTitle {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: underline overline;
  text-align: center;
}

.storyInfo {
  list-style: square inside;
}
/* console */

.controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.rotor,
.rotor.active {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  width: 150px;
  z-index: 3;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.rotor.active {
  animation: MoveUpDown 1s;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

.glowRtr {
  height: 80%;
  width: 20%;
  display: flex;
  justify-content: center;
  background-color: rgba(244, 137, 117, 0.9);
  border: 2px solid rgba(149, 53, 37, 0.9);
  -webkit-box-shadow: 0px 0px 105px 35px rgba(149, 53, 37, 0.9);
  -moz-box-shadow: 0px 0px 105px 25px rgba(149, 53, 37, 0.9);
  box-shadow: 0px 0px 105px 15px rgba(149, 53, 37, 0.9);
}

.rtrLight {
  z-index: 3;
  height: 100%;
  width: 20%;
  background-color: rgba(255, 244, 232, 0.6);
  -webkit-box-shadow: 0px 0px 105px 150px rgba(255, 244, 232, 0.9);
  -moz-box-shadow: 0px 0px 105px 25px rgba(255, 244, 232, 0.9);
  box-shadow: 0px 0px 105px 25px rgba(255, 244, 232, 0.9);
}

.innerLid {
  display: flex;
  flex-direction: column;
  height: 20px;
}

.rtrTop {
  width: 100%;
  height: 6px;
  background-color: rgba(82, 71, 48);
  border: 4px solid rgba(209, 186, 112);
  padding: 1px;
  margin-bottom: 2px;
}

.semi {
  height: 6px;
  width: 15%;
  border-radius: 5rem 5rem 0 0;
  background-color: rgb(110, 124, 141);
}

.semiRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rtrRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
}

.innerCase {
  width: 70%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: rgba(254, 160, 122, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.consoleUnit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 90%;
  width: auto;
}

.console,
.consoleLeft,
.consoleRight {
  bottom: 0px;
  position: absolute;
  background: linear-gradient(to bottom, #dbdbdb, #f9f9f9, #dbdbdb);
  --shine-deg: 45deg;
  z-index: 5;
  border: 3px groove black;
}

.console {
  width: 60%;
  height: 200px;
  transform: perspective(10px) rotateX(1deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.consoleLeft,
.consoleRight {
  width: 12%;
  height: 203px;
  border-bottom: 203px solid #ede8e8;
}

.consoleLeft {
  transform: skew(347deg);
  left: 30px;
  border-left: 4px groove black;
}

.nodule {
  height: 25px;
  width: 35px;
  margin: 10px -5px 0px;
  border-radius: 5rem 5rem 2rem 2rem;
  background: radial-gradient(circle at 1px 20px, #fff, rgb(97, 149, 228));
  transform: rotate(270deg) skew(358deg);
}

.nodBtn {
  width: 40px;
  height: 90px;
}

.consoleRight {
  transform: skew(14deg);
  right: 30px;
  border-right: 4px groove black;
}

.telepath {
  margin: 20px 0 5px;
  height: 75px;
  width: 40px;
  border: 2px black;
  border-style: ridge ridge ridge none;
  aspect-ratio: 1 / 1;
  background-color: #ff5500;
  background-image:
    radial-gradient(
      #802b00,
      #993300 22%,
      #b33b00 calc(22%),
      #b33b00 calc(22% + 1px),
      transparent calc(22% + 3px)
    ),
    radial-gradient(
      #993300,
      #b33b00 24%,
      #cc4400 calc(24%),
      #cc4400 calc(24% + 1px),
      transparent calc(24% + 3px)
    ),
    radial-gradient(
      #b33b00,
      #cc4400 26%,
      #e64d00 calc(26%),
      #e64d00 calc(26% + 1px),
      transparent calc(26% + 3px)
    ),
    radial-gradient(
      #cc4400,
      #e64d00 28%,
      #ff5500 calc(28%),
      #ff5500 calc(28% + 1px),
      transparent calc(28% + 3px)
    );
  background-position:
    48% 32.5%,
    46.5% 33%,
    45% 33.5%,
    43.5% 34%;
  background-size: 2000% 2000%;
  border-radius: min(10vh, 64px);
  box-shadow:
    0 0 32px #66220055,
    0 0 64px #802b0055;
  box-sizing: border-box;
}

.grid {
  margin: 20px 20px 0 5px;
  height: 71px;
  width: 30px;
  background-image:
    linear-gradient(black 1px, transparent 1px),
    linear-gradient(90deg, black 1px, transparent 1px),
    linear-gradient(black 0.5px, transparent 0.5px),
    linear-gradient(90deg, black 0.5px, #bfbebe 0.5px);
  background-size:
    60px 60px,
    60px 60px,
    10px 10px,
    10px 10px;
  background-position:
    -1px -1px,
    -1px -1px,
    -0.5px -0.5px,
    -0.5px -0.5px;
}

.rectangle {
  margin: 20px 20px 0 5px;
  height: 75px;
  width: 25px;
  background: radial-gradient(circle at 1px 20px, #817d7d, rgb(30, 29, 29));
  border: 2px darkgrey;
  border-style: dashed none dashed dashed;
}

.consoleLayout {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.consoleScreen {
  width: 40px;
  height: 60px;
  background-color: black;
}

.speaker {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px black solid;
  background-color: #555;
  opacity: 0.8;
  background-image:
    linear-gradient(black 1px, transparent 1px),
    linear-gradient(90deg, black 1px, transparent 1px),
    linear-gradient(black 0.5px, transparent 0.5px),
    linear-gradient(90deg, black 0.5px, #555 0.5px);
  background-size:
    60px 60px,
    60px 60px,
    10px 10px,
    10px 10px;
  background-position:
    -1px -1px,
    -1px -1px,
    -0.5px -0.5px,
    -0.5px -0.5px;
}

.randomiserBox {
  border: 1px black solid;
  height: 40px;
  width: 150px;
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px 0px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.dot,
.dot2 {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 105px 35px rgba(255, 46, 46, 0.9);
  -moz-box-shadow: 0px 0px 105px 25px rgba(255, 46, 46, 0.9);
  box-shadow: 0px 0px 105px 15px rgba(255, 46, 46, 0.9);
}

.dot {
  background: radial-gradient(circle at 1px 20px, #fff, #ff0000);
}

.panel,
.rPanel,
.lPanel {
  background-color: #57656d;
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
}

.panel {
  width: 75%;
  height: 3rem;
  border-radius: 10rem 10rem 0 0;
  margin: 2px 10px;
  border-right: 10px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.lPanel,
.rPanel {
  height: 5rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.rPanel {
  flex-direction: column;
}

.muteBtn {
  height: 15px;
  width: 25px;
  background-color: lime;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* toggle  */
.randomiserToggle {
  max-height: 200px;
  display: flex;
  justify-content: center;
  transform: rotate(90deg);
  margin-bottom: 20px;
}

.toggle {
  width: 60px;
  height: 20px;
  z-index: 5;
}

.toggle > label {
  display: flex;
  align-items: center;
}

.toggle > label > span {
  margin: 0 auto;
}

/* Hide default HTML checkbox */
.toggle > input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-right: 5px;
  border-radius: 20%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 3px;
  bottom: -2.5px;
  display: block;
  background: red;
  background: radial-gradient(circle at 1px 20px, #fff, #ff0000);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(38, 39, 83);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(38, 39, 83);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.filterBtn {
  height: 25px;
  width: 50%;
  margin: 5px;
  padding: 5px;
  box-shadow: 0 0 4px rgb(38, 39, 83);
}

.filterBtn:hover {
  cursor: pointer;
}

/* modals */

.modalTitle {
  font-family: var(--font-della-respira);
  font-size: 5vb;
  color: rgb(255, 255, 255);
  text-shadow:
    0 0.15ch 7px rgba(255, 0, 0, 0.7),
    0 -2px 6px rgb(128, 0, 128, 0.8);
  line-height: 1;
}

.startModalWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startModal,
.filterModal {
  position: fixed;
  width: auto;
  min-width: 250px;
  min-height: 600px;
  height: auto;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px;
  text-align: center;
  line-height: 2;
  z-index: 21;
  overflow: auto;
}

.startModal {
  background-color: rgba(28, 12, 133, 0.95);
  border: 3px solid #290262;
  color: white;
  font-family: var(--font-della-respira);
  height: 90vh;
}

.filterModal {
  background-color: #dbdbdb;
  color: black;
  font-family: var(--font-della-respira);
}

.sModalTxt,
.sModalLi,
.sModalStr,
.score .fModalTxt {
  text-align: justify;
}

.sModalStr {
  line-height: 1;
}

.startBtn,
.clrBtn {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: white;
}

.startBtn {
  background-color: darkblue;
}
.clrBtn {
  background-color: red;
}

.doctorSelect {
  column-count: 2;
}

.multiSelect,
.eraSelect {
  padding: 5px;
  position: relative;
  z-index: 21;
}

.option {
  padding: 2px 0px;
}

.filterInput,
.multiSelect,
.eraSelect {
  background-color: black;
  color: white;
}

.filterInput {
  padding: 5px;
}

.eraSelect {
  height: auto;
  min-height: 50px;
}

.multiSelect {
  height: 350px;
}

@media only screen and (min-width: 480px) {
  .consoleLeft {
    transform: skew(334deg);
  }

  .consoleRight {
    transform: skew(27deg);
    right: 10px;
  }

  .bg {
    width: 100%;
    background-repeat: no-repeat;
    height: 95vh;
    display: block;
  }
}

@media only screen and (min-width: 700px) {
  .scanner {
    width: 40%;
    left: 50%;
    font-size: 16px;
  }
  .storyTitle {
    font-size: 24px;
  }
  .console {
    width: 500px;
    left: -5%;
    padding-right: 7%;
  }
  .consoleLeft {
    transform: skew(337deg);
    left: -17%;
  }
  .rotor {
    position: relative;
    left: -8%;
  }
  .controls {
    width: 500px;
  }
}
