.FirstTab > summary > p, .SecondTab > summary > p, .ThirdTab > summary > p {
    font-size: 18px;
    line-height: 2;
    padding: 15px;
    margin: 10px;
    text-align: left;
  }

  .FirstTab > aside, .ThirdTab > aside {
    text-align: center;
  }
  
  .SecondTab > ul > li {
    padding: 10px;
    text-align: left;
  }

  .projectDescription {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    line-height: 2;
  }
  
 
  .projectDescription > li {
    list-style: none;
  }

  .techStack {
    font-weight: bold;
    text-decoration: underline;
  }

  .project > h2 {
    background-color: rgb(135, 206, 235, 0.1);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: skyblue;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    font-size: 30px
  }
  
  .publishedWorksh3 {
    text-align: center;
  }
  .podcasting, .publishedWorks, .liveEventsList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .podcasting > p {
    padding: 10px;
  }
  
  
  .liveEventsList > li  {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    width: 100%;
    padding: 5px;
  }

  .liveEventsList > li, .collections > li, .anthologies > li, .journals > li {
    line-height: 2.5;
    border-bottom: solid skyblue 1px;
    list-style: none;
  }

  .minimise {
    text-align: center; 
    border: 1px solid skyblue;
    border-radius: 5px; 
    width: 50%;
    margin-top: 10px;
  }

  .centeredDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .slideContainer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  @media (max-width: 600px) {
    .slideContainer > Zoom > img {
      width: 300px;
    }
  }

  @media (max-width: 575px) {
    .projectDescription {
      font-size: 12px;
    }

    .FirstTab > summary > p, .SecondTab > summary > p, .ThirdTab > summary > p {
      font-size: 14px;
    }

    .FirstTab > aside, .ThirdTab > aside {
      font-size: 14px;
    }

    .liveEventsList > li > iframe, .projectDescription > iframe,
     .projectDescription > img {
      width: 100%;
      height: auto;
     
    }

    .project > h2 {
      font-size: 24px;
    }
  }