.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    width: 100vw;
    min-height: 100vh;
}

.backgroundVortexDiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.whoQuizNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.drWhoQuizLanding {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 15vh;
    width: 100%;
    color: white;
    font-size: medium;
}

.whoQuizFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(224, 236, 245, 0.8);
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 15vh;
    padding-top: 1%;
}

/* round pages css */

.quizCopy {
    margin: 2%;
    line-height: 200%;
    padding: 2%;
    border-radius: 5px;
    background-color: rgb(240, 248, 255, 0.8);
    color: black;
    text-align: center;
}

.aside {
    font-size: small;
}

.quizQuestion {
    border-top: 2px solid #032687;
    padding-top: 5%;
    padding: 5px;
    max-width: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}

.infoRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.questionInput {
    display: flex;
    flex-direction: column;
    margin: 5%;
    max-width: 100%;
    width: auto;
}

.correct{
    color: rgb(141, 241, 141);
    font-weight: bold;
    font-size: large;
    background-color: rgba(3,38,135, 0.6);
      padding: 2%;
}

.wrong {
    color: red;
    font-weight: bold;
    font-size: large;
    background-color: rgba(3,38,135, 0.6);
    padding: 2%;
}

.textbox {
    padding: 1%;
    
    width: 300px;
    margin-bottom: 5%;
}

.quizOver {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

/* round buttons css */

.roundButtonsComponent {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  padding: 10px;
  margin: 2%;
  border-style: inset;
  width: 100%;
}

.roundButton {
  position: relative;
  margin: 5px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.buttonImage {
  display: block;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
  position: relative;
  margin: 5px;
  border-radius: 6px;
  box-shadow: 5px 2px 2px rgb(10,83,200);
  -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
  mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
  -webkit-mask-size: 800%;
  mask-size: 800%;
  -webkit-mask-position: 0;
  mask-position: 0;
}

.buttonImage:hover {
  transition: mask-position 2s ease,-webkit-mask-position 2s ease;
  -webkit-mask-position: 120%;
  mask-position: 120%;
  opacity: 1;
}

.buttonText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: rgb(252, 243, 176);
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  text-shadow:2px 2px #032687
}

.roundButton:hover .buttonImage {
  opacity: 0.6;
}

.roundButton:hover .buttonText {
  opacity: 1;
}

.goodDogs, .firstQuestion, .general, .allGreek, .oddOneOut, .colinCliffhanger, .productionCodes, 
.inhuman, .howLong, .introsPop, .introsIncidental, .playedThemselves, .wheeln{
  position: relative;
  text-align: center;
}


/* radio buttons design */
.radio {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


/* modals */

.startModalWrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
  }
  
  .startModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    max-height: 80vh;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 3px solid #999;
    border-radius: 3px;
    margin: 20px auto;
    padding: 20px;
    color: black;
    text-align: left;
    line-height: 2;
    z-index: 5;
    overflow-y: auto;
    background-color: maroon;
    display: flex;
    flex-direction: column;

  }

  .sModalTxt, .sModalHTxt {
    color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: green;
    font-family: var(--font-londrina-solid);
  }

  .sModalHTxt {
    text-align: center;
  }

  .btn {
    margin-top: 2%;
  }
