.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  width: 100vw;
  min-height: 100vh;
  font-family: var(--font-della-respira);
  overflow: hidden;
}

.backgroundVortexDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.whoQuizNav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  color: #fdf5b9;
}

.drWhoQuizLanding {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-bottom: 15vh;
  width: 100%;
  color: white;
  font-size: medium;
}

.whoQuizFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(224, 236, 245, 0.8);
  color: black;
  border-radius: 5px;
  width: 100%;
  height: 15vh;
  padding-top: 1%;
}

/* round pages css */

.quizCopy {
  margin: 2%;
  padding: 2%;
  border-radius: 5px;
  background-color: rgb(240, 248, 255, 0.8);
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 90%;
  height: 90%;
  align-items: center;
}

.roundName {
  margin: 2% 0;
}

.copy {
  text-align: justify;
  font-size: medium;
  margin: 2% 0;
}

.aside {
  text-align: justify;
  font-size: small;
  margin: 2% 0;
}

.link {
  font-size: medium;
  text-decoration: underline;
}

.quizQuestion {
  border-top: 2px solid #032687;
  padding-top: 5%;
  padding: 5px;
  width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
}

.qImageDiv {
  width: 400px;
  height: 350px;
  margin: 4% 0;
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
}

.quizImage {
  height: auto;
  max-height: 350px;
}

.diamondWall {
  height: 350px;
  object-fit: fill;
}

.quizImage,
.diamondWall {
  width: 100%;
  border: 2px groove black;
  top: 0;
  left: 0;
}

.quizImage {
  position: relative;
}

.diamondWall {
  position: absolute;
}

.infoRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.questionText,
.wrongText,
.wrongAnswer {
  display: flex;
  align-items: center;
  padding: 0 2px;
  margin: 2%;
}

.questionText,
.wrongAnswer {
  height: 100px;
}

.wrongText {
  height: 200px;
}

.questionInput {
  display: flex;
  flex-direction: column;
  margin: 5%;
  max-width: 100%;
  width: auto;
  align-items: center;
}

.multipleChoice {
  height: 350px;
}

.isCorrect {
  height: 70px;
}

.correct,
.wrong {
  font-weight: bold;
  font-size: large;
  background-color: rgba(3, 38, 135, 0.6);
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.correct {
  color: rgb(141, 241, 141);
}

.wrong {
  color: red;
}

.placeholder {
  visibility: hidden;
  height: 62.5px;
}

.btn,
.btnAlt,
.disabled {
  margin: 4% 0;
  padding: 2px;
  width: 250px;
}

.btn {
  background-color: #032687;
  color: white;
}

.btnAlt {
  background-color: red;
  color: white;
}

.disabled {
  background-color: grey;
  color: darkgray;
}

.skipBtn {
  margin-top: 1%;
  background-color: orange;
  color: black;
  padding: 0.5%;
  width: 250px;
}

.textbox {
  padding: 1%;
  width: 300px;
  margin-bottom: 4%;
}

.quizOver,
.deathRoundOver {
  display: flex;
  flex-direction: column;
  padding: 1%;
  align-items: center;
}

.quizOver {
  border-top: 2px solid #032687;
}

/* round buttons css */

.roundButtonsComponent {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  justify-items: center;
  padding: 10px;
  margin: 2%;
  border-style: inset;
  width: 100%;
}

.roundButton {
  position: relative;
  margin: 5px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.buttonImage {
  display: block;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
  position: relative;
  margin: 5px;
  border-radius: 6px;
  box-shadow: 5px 2px 2px rgb(10, 83, 200);
  -webkit-mask-image: linear-gradient(
    45deg,
    #000 25%,
    rgba(0, 0, 0, 0.2) 50%,
    #000 75%
  );
  mask-image: linear-gradient(
    45deg,
    #000 25%,
    rgba(0, 0, 0, 0.2) 50%,
    #000 75%
  );
  -webkit-mask-size: 800%;
  mask-size: 800%;
  -webkit-mask-position: 0;
  mask-position: 0;
}

.buttonImage:hover {
  transition:
    mask-position 2s ease,
    -webkit-mask-position 2s ease;
  -webkit-mask-position: 120%;
  mask-position: 120%;
  opacity: 1;
}

.buttonText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: rgb(246, 229, 107);
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  text-shadow:
    2px 2px 3px #032687,
    0 0 6px rgb(143, 1, 1);
}

.roundButton:hover .buttonImage {
  opacity: 0.6;
}

.roundButton:hover .buttonText {
  opacity: 1;
}

.goodDogs,
.firstQuestion,
.general,
.allGreek,
.oddOneOut,
.colinCliffhanger,
.productionCodes,
.inhuman,
.howLong,
.introsPop,
.introsIncidental,
.playedThemselves,
.wheeln {
  position: relative;
  text-align: center;
}

/* radio buttons design */
.radio {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2px;
  text-align: left;
  max-height: 100px;
  height: auto;
}

.radioInput {
  margin-right: 5px;
  max-width: 100%;
  width: auto;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* modals */

.startModalWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
}

.startModal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  max-height: 80vh;
  min-height: 200px;
  border: 3px solid #999;
  border-radius: 3px;
  margin: 20px auto;
  padding: 20px;
  color: black;
  text-align: left;
  line-height: 2;
  z-index: 10;
  overflow-y: auto;
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sModalTxt,
.sModalHTxt {
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: green;
}

.sModalHTxt {
  text-align: center;
}

.answerList {
  padding: 4px;
  list-style: none;
  border-bottom: #032687 1px solid;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  height: 50px;
}

/* sorting */

.logicHeader {
  margin-bottom: 2%;
}

.storyInfo,
.storyInfoCorrect {
  display: flex;
  align-items: center;
  touch-action: none;
  border-radius: 5px;
  background-color: rgb(3, 0, 3);
  color: white;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  width: 85%;
  text-align: center;
  font-size: small;
}

.storyInfo {
  border: double rgb(218, 225, 248) 5px;
}

.storyInfoCorrect {
  border: solid rgb(0, 128, 0, 0.7) 4px;
  transition: border-width 0.6s linear;
}

.dndButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dndContextUl {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 450px) {
  .qImageDiv {
    max-width: 90%;
    width: 90%;
    height: 350px;
  }
  .roundButtonsComponent {
    grid-template-columns: 50% 50%;
  }

  .quizQuestion {
    width: 100%;
  }
}
@media only screen and (min-width: 450px) and (max-width: 600px) {
  .roundButtonsComponent {
    grid-template-columns: 33% 33% 33%;
  }
}

@media only screen and (min-width: 850px) {
  .btn {
    margin: 1% 0;
  }
  .textbox {
    margin-bottom: 2%;
  }
  .questionText {
    margin: 2% 0;
  }
  .copy {
    margin: 1% 0;
  }

  .aside {
    margin: 1% 0;
  }
}
