.whoTitleContainer {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  background-color: thistle;
  border-radius: 2px;
  top: 0;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleTitle {
  text-align: center;
  margin: 5px;
}

.titleSelect {
  margin: 5px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  width: 50%;
  font-size: x-small;
  margin: 5px;
  align-items: center;
}

.fontSizeInput {
  width: 50px;
  margin: 5px;
}

.titlePreview {
  position: relative;
  text-align: center;
  max-width: 90%;
}

.titleImage {
  display: block;
  min-height: 150px;
  min-width: 200px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  position: relative;
  margin: 5px;
}

.titleText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  width: 80%;
  height: auto;
  text-wrap: wrap;
}

.textbox {
  padding: 5px;
  width: 75%;
  height: 12%;
}

.btns {
  justify-content: center;
}

.titleBtn {
  margin: 5px;
  padding: 5px;
}
