.whoTitleContainer {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  background-color: mistyrose;
  border-radius: 2px;
  top: 0;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleTitle {
  text-align: center;
  margin: 5px;
  color: black;
}

.titleSelect {
  margin: 5px;
}

.toolbar {
  width: 50%;
  font-size: x-small;
  color: black;
  flex-direction: column;
}

.toolbar,
.sliders,
.btnRow,
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.sliders,
.btnRow {
  flex-direction: row;
  width: 100%;
}

.fontSizeInput {
  width: 50px;
  margin: 5px;
}

.titlePreview {
  position: relative;
  text-align: center;
  max-width: 80%;
  height: auto;
}

.titleImage {
  display: block;
  min-height: 150px;
  min-width: 200px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  position: relative;
  margin: 5px;
}

.titleText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  width: 80%;
  height: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}

.textbox {
  padding: 20px;
  width: 75%;
  height: 20%;
  resize: both;
}

.btns {
  justify-content: center;
}

.titleBtn {
  margin: 5px;
  padding: 5px;
}

@media only screen and (min-width: 850px) {
  .textbox {
    padding: 40px 0px;
  }
}
